body{
    background-color: #ddd !important;
}
div.container{
    margin-bottom: 30px;
}
.search-bar{
    margin: 20px;
    text-align: center;
}
.search-bar input{
    width: 75%;
    padding-left: 10px;
    height: 2.5rem;
    margin-bottom: 25px;
    border:1px solid #ddd;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}
.video-item img{
    max-width: 64px;
}
.video-detail .details{
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    background: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
    color: #000;
    font-size: 0.9rem;
}
.video-detail .details .title{
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 600;
}
.video-detail .details .published{
    margin-top: 15px;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: right;
}
.list-group-item{
    cursor: pointer;
    color: #000;
    font-size: 0.9rem;
    font-weight: 600;
    border:1px solid #ddd;
    border-radius: 0 !important;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}
.list-group-item:hover{
    background-color: #eee;
}